sentence-transformers
torch
transformers
huggingface_hub
accelerate
python-dotenv
pandas
tqdm
pillow
requests
sentencepiece
bitsandbytes
openai
anthropic
openrouter
qwen
google-genai #google-generativeai --> old one which is not supported anymore!!!